*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
   
}

.background{
    
    background-size: cover;
    background-image: url(https://lh3.googleusercontent.com/pw/ABLVV86lNRgTiQVpVFur3F7RW2J0E6QMii9cFmOZJlqNikqUFneh9G78hcNtkz7PX-sNqAMttworR7TUfwRDPVhpJ17VvkS_XEXHru6JwsSv7nacbnPXdmRX5oEuVrxor-Ym5Oo6MNBFu7rPyFXLqVoEAgrqOtHwxbdBqPdMp2xX4-oUDi342Kx_sSPR_RsyHWGcm9xn5Xq0hfdK8dRw9WQRNWWzRcEtaEB4pCaRLelKhdKYHRl64kmbm3oGD_lLVZv_9wutRFcPS1zLCXUm9nZuGriwiWNDtAVkq0Csjdju8-rRiE75NwTFLpz1g7JsPsrBFBd4vZsPzl7M2g_pMH7hv6kMjjZFJQS5D2Zr5CkWQm9xhsnF2BowA_eItHtNtGIf6CMwzVq1dwUhyF7ilXs5ol_h_DySJ5aMSgs-ohtSzFlfFqOdDJvO5G5h-L9Dm97b6goulCEnJImlpF3zpsvUIISnwIM6b5nkEYn7wBam99xRE8CsMnfB62L00w0ktDLZy_dYUg8vtJbyYJLAZlOFg7JvkeorzmsbMpziEXXdwIh50egJ85LB5wyjZwRQXZtBscOcWn1x6Aqt6uZmuZ9Yf8dCjcoPrS7pYiArVBlbnWkuYN-H-Sx1l7-EK4cT_qLoizeM5V47cJjOOk6t-PCbSl_xIg1JsRjIZxP9LpWVqOZZ2psCCv7ayUtbaMX2GoLDlwAiO8JITdZIqNoE9NDpCyGhX_9FIGVz5aeMYXB3uel2C30NuRQufko99-UmKqxZgdYNOUQPOEjGhwNNR5MB1WU5KPjYu8PjiKUBMMb4x3M_Xb2f5MzXIOwsybmR9XlRfq0RoDP9UOfHaaQwUDnIDLB5-5IyFU9bxnw3wX2AKzbPsQpzNAFciVsgl5pNIPievSg=w1366-h342-s-no-gm?authuser=0);
    background-position:center;
    height: 72vh;
    width: 100%;
    

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 1px;
}
span{
    color: #f9003280;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9003280;
    transform: .4s;
}

.btn{
    background-color: #f90032c9;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

.Main{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.Main span{
    color: #f9003280;
}

h1{
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h4{
    color: rgba(213, 208, 213, 0.8);
    letter-spacing: 2px;
    font-size: 20px;
}

h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}

.Container-btn form {
    width: 100%;
    max-width: 100%; /* Defina a largura máxima do formulário conforme necessário */
    margin: 2px auto; /* Centraliza o formulário na página */
    display: flex; /* Utiliza o modelo flex para alinhar os itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center;
    cursor: pointer;
}


.Container-btn form input,
.Container-btn form textarea {
    width: 250px; /* Largura fixa em pixels ou outra unidade desejada */
    margin-right: 50px; /* Adiciona um espaço entre os campos */
    padding: 8px 2px 5px 5px;
    border: 2px solid #f9003280;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    margin: 10px;
    resize: none;/*você está especificando que o usuário não pode redimensionar manualmente o elemento.*/
}
.Container-btn form input:last-child {
    margin-right: 10px; /* Remove a margem à direita do último campo */
}

.Container-btn form textarea {
    width: 400px; /* Largura fixa em pixels ou outra unidade desejada */
    height: 35px;
}
.background-color-Sobre{
    background-color: #0a0a0a;
    width: 100%;
    padding: 100px 0px;
    
}

.background-color-Sobre img{
    width: 430px;
    height: auto;
    border-radius: 100%;
    border: 2px solid #4700f9;
}

.Text-sobre{
    width: 550px;
  }

.main-sobre{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 1130px;
   margin: 0 auto;
}

.Text-sobre h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.Text-sobre h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.Text-sobre p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #f9003280;
    color: #fff;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
    
}

button:hover{
    background-color: transparent;
    border: 2px solid #4700f9;
    cursor: pointer;
}

.Container-serviços{
    background-color: #0a0a0a;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.Caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.Card {
    background: #191919;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
    display: flex; /* Adiciona a propriedade flex para centralizar verticalmente */
    flex-direction: column; /* Alinha os itens em coluna */
    justify-content: center; /* Centraliza os itens verticalmente */
    border: 2px solid #4700f9;
}

.Card i {
    font-size: 40px;
    display: inline-block;
    text-align: center;
    margin: 2px 10px 10px 15px;
    color: #4700f9;
}

h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.Paragrafo-button {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.Paragrafo-button button {
    margin-top: 11px;
    padding: 10px;
}

.me-contate {
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.me-contate p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
footer h6{
    font-size: 35px;
    color: #fff;
}

footer p{
    color: #fff;
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 23px;
}

.Redes-sociais{
    display: flex;
    
}

.Redes-sociais a{
    background-color: #4700f9;
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Redes-sociais a:hover{
    transform: scale(1.2);
    transition: .3s;
}
footer {
    position: relative;
    width: 100%;
    min-height: 400px; /* Adicione uma altura mínima ao rodapé para evitar sobreposição com o conteúdo */
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end {
    color: #f90032d8;
    font-size: 14px;
    margin-top: 20px; /* Ajuste conforme necessário */
    text-align: center; /* Centralize o texto */
    position: relative; /* Remova position: absolute */
    bottom: 0; /* Remova a propriedade bottom */
}
.grafico {
    text-align: center; /* Centraliza o conteúdo */
    background-color: #191919; /* Adiciona a cor de fundo desejada */
  
    /* Adicione mais estilos conforme necessário */
  }
  
  .title {
    font-size: 44px;
    font-weight: bold;
    color: #f2eeee; /* Cor do texto */
  
    /* Adicione mais estilos conforme necessário */
  }
  
  .github {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .github img {
    width: 100%; /* Garante que as imagens ocupem 100% da largura do contêiner */
    max-width: 400px; /* Ajuste conforme necessário */
    margin: 10px; /* Espaçamento entre as imagens */
    border: 2px solid #4700f9;
    border-radius: 5px;
  }
  
  
    
  
  
